<nb-layout>
  <nb-layout-header fixed class="header">
    <div style="cursor: pointer" (click)="toggleSidebar()">
      <nb-icon icon="bars" pack="fas"></nb-icon>
    </div>
    <div>
      <button nbButton outline status="danger" (click)="logout()">Logout</button>

      <button
        outline
        nbButton
        nbContextMenuTag="context-menu"
        [nbContextMenu]="headerContextMenuItems"
      >
        Usuário logado
      </button>
    </div>
  </nb-layout-header>

  <nb-sidebar state="compacted" left tag="left"  class='side-bar'>
    <nb-menu autoCollapse="false" [items]="menuItems"></nb-menu>
  </nb-sidebar>

  <nb-layout-column class="mt-16">
    <body style="margin-top: -0.3vw">
      <router-outlet></router-outlet>
    </body>
  </nb-layout-column>
</nb-layout>
