<nb-layout>
  <nb-layout-header fixed class="header">
    <div style="cursor: pointer" (click)="toggle()">
      <nb-icon icon="bars" pack="fas"></nb-icon>
    </div>
    <div>
      <button nbButton outline status="danger" (click)="logout()">Logout</button>
    </div>
  </nb-layout-header>

  <nb-sidebar responsive left containerFixed class='side-bar' tag="left">
    <nb-menu [items]="menuItems"></nb-menu>
  </nb-sidebar>

  <nb-layout-column class="mt-16">
    <body style="margin-top: -0.3vw">
      <router-outlet></router-outlet>
    </body>
  </nb-layout-column>
</nb-layout>
