<nb-layout>
  <nb-layout-header>
    <h1 routerLink="/" style="cursor: pointer">Login!</h1>
  </nb-layout-header>
  <nb-layout-column class="container">
    <nb-card class="login-panel">
      <nb-card-header>
        <h3>Login</h3>
      </nb-card-header>
      <nb-card-body [formGroup]="formLogin">
        <div>
          <p>Usuário</p>
          <input formControlName="username" nbInput fullWidth type="text">
          <p>Senha</p>
          <input formControlName="password" nbInput fullWidth type="password">
        </div>
        <div>
          <button (click)="login(formLogin)" nbButton fullWidth status="danger">Login</button>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
  <nb-layout-footer>
    Todos os direitos reservados
  </nb-layout-footer>
</nb-layout>
